.issue-button{
    -fx-background-color: #424242;
    -fx-text-fill: black;
}

.issue-button:hover{
    -fx-background-color: #0288D1;
    -fx-text-fill: white;
}

.menu .label
{
    -fx-text-fill: white;
}
.menu-item .label
{
	-fx-background-color: rgba(0,0,0,0);
	-fx-text-fill: white;

}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: rgba(	0, 139, 139, 0.2);
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: rgba(	0, 139, 139, 0.3);
}
.context-menu {
    -fx-background-color: #171B2A;
	-fx-border-radius: 10%;
	-fx-text-fill: white;
}
.menu-bar {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.menu-item:focused {
   -fx-background-color : rgba(235, 122, 107, 0.63);
   -fx-text-fill: white;
}
.menu:hover, .menu:showing{
  -fx-background-color: rgba(23,27,42,0.2);
  -fx-text-fill: white;
}